ul 
{
    list-style-type: none;
    padding-inline-start: 0;
}

.checked-item
{
    text-decoration: line-through;
    box-decoration-break: clone;
}

.button 
{
	padding-right: 1%;
	border: none;
	background: transparent;
    cursor: pointer;
    outline: none;
    color: white;
}

#delete-icon:hover 
{
	-ms-transform: scale(1.25); 
	-webkit-transform: scale(1.25); 
	transform: scale(1.25);
}

#delete-icon
{
    position: absolute;
}

input[type="checkbox"]:hover
{
    cursor: pointer;
}

.wrapper
{
    color: white;
}

.new-button
{
    background-color: transparent;
    border: white;
    border-style: solid;
    border-width: 1px;
    color: white;
    padding: 5px 10px;
}

.new-button:hover
{
    background-color: rgb(83, 83, 83);
}
