<div class="wrapper">
    <h2>Task List</h2>
    <button class="rounded new-button" (click)="onNewTask()">New</button>
    <ul>
        <li class="my-3" *ngFor="let t of this.taskList">
            <input type="checkbox" (change)="onCheckTaskChange(t)" [checked]="t.values.completed">
            <span *ngIf="t.values.completed; else elseBlock">
                <span class="checked-item ml-2">
                    {{ t.values.task }}
                </span>
            </span>
            <ng-template #elseBlock>
                <span class="ml-2">
                    {{ t.values.task }}
                </span>
            </ng-template>

            <button class="button float-right" (click)="onTaskDelete(t)">
                <i class="fa fa-times" id="delete-icon"></i>
            </button>
            
        </li>
        <li *ngIf="this.creatingNewTask">
            <input 
                #checkBox
                type="checkbox">
            <input 
                #taskBox 
                class="ml-2"
                type="text" 
                (keyup.enter)="onNewTaskEnter(taskBox.value, checkBox.checked)">
        </li>
    </ul>
</div>

